<footer class="site-footer">

  <div class="container">

    <h2 class="footer-heading">
        <a class="footer-brand" href="{{ site.baseurl }}/"><img class="footer-logo" title ="{{site.title}}" alt="{{site.title}}" src="{{"/assets/img/footer.png" | prepend:site.baseurl}}"></a>
    </h2>
    
    <div>
      <ul class="footer__social-links">

        <li class="footer__link"><a href="mailto:{{ site.email }}"><i class="icomatic">email</i></a></li>

        {% if site.github_username %}<li class="footer__link">
          <a href="https://github.com/{{ site.github_username }}">
            <i class="icomatic">github</i>
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li class="footer__link">
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="icomatic">twitter</i>
          </a>
        </li>{% endif %}
        {% if site.linkedin_username %}<li class="footer__link">
          <a href="https://linkedin.com/{{ site.linkedin_username }}">
            <i class="icomatic">linkedin</i>
          </a>
        </li>{% endif %}
        {% if site.googleplus_username %}<li class="footer__link">
          <a href="https://plus.google.com/{{ site.googleplus_username }}?rel=author">
            <i class="icomatic">googleplus</i>
          </a>
        </li>{% endif %}
      </ul>
    </div>

    <div style="text-align:center;">
      <p class="copyright"> All Rights Reserved. © 2014</p>
    </div>

  </div>

</footer>

<script src="{{ "/js/icomatic.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/js/jquery-2.1.0.min.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/js/bootstrap.js" | prepend: site.baseurl}}"></script>
<script src="{{ "/js/analytics.js" | prepend: site.baseurl}}"></script>
