<header class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

    
    
      <div class="navbar-header" itemscope itemtype="https://schema.org/Brand">
        <button type ="button" href="#" class="navbar-toggle" data-toggle="collapse" data-target="#target-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/"><img class="logo" title="{{site.title}}"  itemprop="logo" src="{{"/assets/img/logo.png" | prepend:site.baseurl}}"></a>
      </div>

      <div class="collapse navbar-collapse" id="target-navbar">
        <ul class="nav navbar-nav">
          {% for page in site.pages %}
            {% if page.title %}
            <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}
          {% endfor %}
            <li><a class="btn btn-newsletter__signup" href="#">Newsletter</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>
